.store-container {
  background: url(../../images/texture.webp);
  background-attachment: fixed;
}
.store-container {
  width: 100vw;
}
.banner-store {
  background: url(../../images/Wood.jpeg);
  width: 100vw;
  height: 40vh;
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}
.banner-store h2 {
  font-size: 3rem;
  font-weight: 800;
}
.banner-store p {
  font-size: 1.5rem;
  font-weight: 700;
}
.store-category {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}
.store-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.stores-one {
  background: #d2d2d2;
  margin: 0.5rem;
  width: 20rem;
  border-radius: 0.5rem;
}
.store-works {
  margin: 0.5rem;
}
.work-store {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 80vw;
}
.work-one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.pop-store {
  margin: 0.5rem;
}
.pop-item {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 18rem;
  height: 26rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  border: 0.5px solid #e3dddd;
  transition: ease-in-out 400ms;
  color: #320a02;
}
.pop-item:hover {
  box-shadow: 0px 8px 30px #424242;
}
#pop-item {
  text-decoration: none;
}
.pop-item h5 {
  padding: 0.5rem;
}
.pop-item img {
  padding: 0.5rem;
}
.pop-city {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: flex-start;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.pop-map {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #d2d2d2;
  width: 22rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin: 0.5rem;
}
.pop-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.pop-content {
  display: flex;
  flex-direction: column;
  display: none;
}
.pop-content h6 {
  color: #320a02;
}
.pop-content h6:hover {
  opacity: 0.4;
}
