.banner {
  background: url(../../images/Wood.jpeg);
  width: 100vw;
  height: 70vh;
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner h2 {
  color: #ffffff;
  font-size: 3rem;
  font-size: 900;
  backdrop-filter: blur(7px);
}
.banner p {
  color: #ffffff;
  font-size: 2rem;
  font-size: 900;
  backdrop-filter: blur(7px);
}
.fire {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffffff;
  width: 60%;
  height: 3rem;
  border-radius: 10rem;
}
.fire input {
  width: 80%;
}
.fire h3 {
  cursor: pointer;
  color: #320a02;
}
.home-drinks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}
.drinks-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}
.drinks-one h5 {
  color: #320a02;
}
.drinks-one img {
  height: 12rem;
  border-radius: 0.5rem;
}
.rotate img {
  transition: 1s ease;
}

.rotate img:hover {
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  transition: 1s ease;
}
.home-category {
  background: #d2d2d2;
  text-align: center;
  padding: 0.5rem;
}
.home-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.home-beer,
.home-wine,
.homeextras,
.homespirit {
  margin: 1rem;
}
.home-beer h5,
.home-wine h5,
.homeextras h5,
.homespirit h5 {
  color: #320a02;
}
.home-beer-div,
.homeextras-div,
.homespirit-div,
.home-wine-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.home-find {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
}
button {
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  background: #320a02;
  color: #ffffff;
  font-weight: 800;
  font-size: 1.2rem;
  width: fit-content;
}
.home-find-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-find-two {
  margin: 0.5rem;
  height: 20.5rem;
  width: 40rem;
}
.home-find-two img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}
.home-location {
  background: #d2d2d2;
  text-align: center;
  color: #320a02;
  padding: 1rem;
}
.location-one {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1rem;
  width: 80vw;
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
.location-one h5 {
  color: #320a02;
}
.top-brands {
  text-align: center;
  padding: 1rem;
}
.top-liqour {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.top-dog {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}
.top-dog img {
  height: 9rem;
  cursor: pointer;
}
.home-works {
  background: #d2d2d2;
  text-align: center;
  padding: 0.5rem;
}
.work-flex {
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.work-list {
  margin: 0.5rem;
}
.app {
  padding: 1rem;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.app-one {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.work-list {
  width: 50%;
}
.work-list img {
  height: 30rem;
  width: 100%;
  padding: 0.5rem;
}
.app-two {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem;
}
.hustler img {
  width: 15rem;
  padding: 0.5rem;
}
@media screen and (max-width: 600px) {
  .fire {
    width: 100vw;
  }
  .home-drinks {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .home-div {
    display: grid;
    grid-template-columns: 1fr;
  }
  .home-beer,
  .home-wine,
  .homeextras,
  .homespirit {
    text-align: start;
    margin: 1rem;
  }
  .home-beer-div,
  .homeextras-div,
  .homespirit-div,
  .home-wine-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: start;
  }
  .location-one {
    grid-template-columns: 1fr 1fr;
  }
  .top-liqour {
    width: 98vw;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .top-dog img {
    width: 6rem;
    margin: 0.1rem;
  }
  .work-flex {
    display: flex;
    flex-direction: column;
  }
  .app {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .app-one {
    width: 100vw;
  }
  .work-list {
    width: 50%;
  }
  .work-list img {
    width: 100%;
    height: 30rem;
  }
  .app-two {
    width: 100vw;
    font-display: flex;
    align-items: center;
    justify-content: center;
  }
  .hustler img {
    width: 100%;
  }
}
@media screen and (min-width: 601px) and (max-width: 950px) {
  .home-drinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .home-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .top-liqour {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .work-flex {
    width: 95vw;
  }
}
/* @media screen and (min-width: 951px;) {
  .home-drinks{

  }
} */
