.navbar {
  position: fixed;
  background: #5a2727;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 4rem;
}
.logo img {
  width: 100%;
}
.side-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-one {
  margin: 0.5rem;
}
.menu-one h5 {
  color: #ffffff;
  font-size: 0.9rem;
  transition: 400ms ease;
}
.top-icon {
  display: none;
}
.top-icon h4 {
  color: #ffffff;
  font-size: 1.2rem;
}
@media screen and (max-width: 900px) {
  .navbar {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
  .side-bar {
    display: flex;
    flex-direction: column;
  }
}
