.top {
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #391b1b;
  top: 0;
}
.top-icon {
  position: absolute;
  display: none;
}
.top-icon h4 {
  color: #ffffff;
}
.side-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-one {
  margin: 0.6rem;
}
.menu-one h5 {
  color: #eeeeee;
  font-size: 1rem;
}
.nav-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .top {
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
  .side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 40vh;
  }
}
