.footer-container {
  background: #7a997b;
  width: 100vw;
  color: #ffffff;
}
.footer-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80vw;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.footer-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-about h6,
.footer-help h6,
.footer-sign h6 {
  color: #ffffff;
  font-size: 1.1rem;
}

.follow {
  display: flex;
  flex-direction: column;
}
.follow-social {
  display: flex;
  cursor: pointer;
}
.download-social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.images {
  display: flex;
  flex-direction: row;
}
.images-one {
  height: 1rem;
  width: 1.5rem;
}
.images-one img {
  height: 100%;
  width: 100%;
  margin: 0.2rem;
  cursor: pointer;
}

.footer-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}
.footer-two p span {
  color: #060606;
  font-size: 1.2rem;
  font-weight: 900;
}
.about h5 {
  color: #ffffff;
}
.dark h5 {
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .footer-one {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-two {
    text-align: center;
  }
  .footer-about,
  .footer-help,
  .footer-sign {
    margin-bottom: 1rem;
  }
}
